<br>
<br>
<br>
<hr>

{{$siteCopyright := .Site.Param "copyright"}}
{{$siteLicense := .Site.Param "license"}}
{{$dateLastModified := .Lastmod}}
{{$gitInfo := .GitInfo}}

<footer>
	<center>
	<p><a href="https://novasredes.github.io">IPv4</a> | <a href="http://services.deavmi.assigned.network/novasredes">IPv6</a> | <a href="http://ygg.services.deavmi.assigned.network/novasredes">Ygg</a></p>
	<br>
	<p>Last modified on <i>{{time.Format "Monday the 1 January 2006" $dateLastModified}}</i></p>
	<!-- FIXME: Check for null for `.GitInfo` when git information is not present -->
	<p>{{$gitInfo}}</p>
	<p>{{$siteCopyright}}</p>
	<p><i>under</i> the <code>{{$siteLicense}}</code> license</p>
	</center>
</footer>
