<br>
<br>
<br>
<hr>

{{$siteCopyright := .Site.Param "copyright"}}
{{$siteLicense := .Site.Param "license"}}
{{$dateLastModified := .Lastmod}}

<!-- Git-derived information -->
{{$gitInfo := .GitInfo}}
{{$authorName := $gitInfo.AuthorName}}
{{$authorEmail := $gitInfo.AuthorEmail}}

{{$changeHash := $gitInfo.Hash}}
{{$changeDesc := $gitInfo.Subject}}

<footer>
	<center>
	<p><a href="https://novasredes.github.io">IPv4</a> | <a href="http://services.deavmi.assigned.network/novasredes">IPv6</a> | <a href="http://ygg.services.deavmi.assigned.network/novasredes">Ygg</a></p>
	<br>
	<!-- FIXME: Check for null for `.GitInfo` when git information is not present -->
	<p>Last modified on <i>{{time.Format "Monday the 1 January 2006" $dateLastModified}}</i> by {{$authorName}} (<a href="mailto:{{$authorEmail}}">{{$authorEmail}}</a>)</p>
	<p>"<i>{{$changeDesc}}</i>" ({{$changeHash}})</p>
	<br>
	<p>{{$siteCopyright}}</p>
	<p><i>under</i> the <code>{{$siteLicense}}</code> license</p>
	</center>
</footer>
