
<!-- Authorship details -->
{{$pageAuthor := .Param "author"}}
{{$datePublished := .PublishDate}}

{{if not (eq $pageAuthor nil)}}
	<p><b>Written by:</b> {{$pageAuthor}}</p>
{{end}}


<!--
	Below is the default value that appears when no
	date is present - the zero value I guess.

	Therefore we check for this and then omit printing
	the date if this is the case
-->
{{$t := (time.AsTime "0001-01-01")}}

{{if eq $datePublished $t}}
	<!-- Do nothing -->
{{else}}
	<p><b>Date:</b> {{time.Format "Monday the 1 January 2006" $datePublished}}</p>
{{end}}





